<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>员工信息列表</title>
	<link rel="icon" type="image/x-icon" href="../../static/images/title.ico" /><!-- 标题图标 -->
	
	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css"/>
	<style type="text/css">
		th{ text-align:center;}
		td{ text-align:center;}
	</style>
</head>
<body>
	
	<!-- 页面内容 start -->
	<div class="container" id="listPages">
		<!-- 标题 -->
		<div class="row">
			<h4>用户列表</h4>
		</div>
		
		<!-- 按钮 -->
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<button class="btn btn-primary" @click="appendEmp()">新增</button>
				<button class="btn btn-danger" @click="clearInfos()" >删除</button>
			</div>
		</div>
		
		<!-- 列表 start -->
		<div class="row" >
			<div class="col-md-12">
				<table class="table table-hover">
					<tr>
						<th><input type="checkbox" id="allcheck" @click="checkAll($event)"/></th>
						<th>编号</th>
						<th>姓名</th>
						<th>性别</th>
						<th>邮箱</th>
						<th>薪资</th>
						<th>所在部门</th>
						<th>操作</th>
					</tr>
					<tr v-for="emp in list" :key="emp.id">
						<td>
							<input type="checkbox" id="checkItem" :value="emp.id" v-model="checks"/>
						</td>
						<td>{{emp.id}}</td>
						<td>{{emp.name}}</td>
						<td>{{emp.gender==1?'女':'男'}}</td>
						<td>{{emp.email}}</td>
						<td>{{emp.salary}}</td>
						<td>{{emp.dept.name}}</td>
						<td>
							<button class="btn btn-primary btn-sm" @click="alter(emp)">
								<span class="glyphicon" aria-hidden="true"></span>
								编辑
							</button>
							<button class="btn btn-danger btn-sm" @click="clearInfo(emp.id)">
								<span class="glyphicon" aria-hidden="true"></span>
								删除
							</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<!-- end 列表 -->
			
		<!-- 分页信息 start -->
		<div class="row">
			<!--分页文字信息  -->
			<div class="col-md-6">第{{pageNum}} / {{pages}}页,共{{total}}条记录   ###{{checks}}</div>
			<!-- 分页条信息 -->
			<div class="col-md-6">
				<nav aria-label="Page navigation">
				<ul class="pagination">
					<!-- 改 -->
					<!-- 首页 -->
					<li><span @click="varyPage(1)">首页</span></li> 
					<!-- 上一页 -->
                	<li v-bind:class="{'disabled': !hasPreviousPage}">
                		<span aria-hidden="true" @click="varyPage(--pageNum)">&laquo;</span>
                	</li>
                	<!-- 导航条 -->
               		<li v-for="page_num in navigatepageNums" v-bind:class="{'active':page_num==pageNum}">
               			<span @click="varyPage(page_num)">{{page_num}}</span>
               		</li>
               		
               		<!--下一页-->
                	<li v-bind:class="{'disabled': !hasNextPage}">
                		<span aria-hidden="true" @click="varyPage(++pageNum)">&raquo;</span>
                	</li>
                	<!-- 尾页 -->
                	<li><span @click="varyPage(pages)">尾页</span></li> 
                	
				</ul>
				</nav>
			</div>
		</div>
		<!-- end 分页信息 -->

		
	</div>
	<!-- end  页面内容  -->

    <!-- (编辑)模态框 start -->
    <div class="modal fade" id="modifyEmp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">修改信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <!-- <p class="form-control-static" id=""></p> -->
                                <input type="text" v-model="name" class="form-control" placeholder="输入姓名"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" v-model="email" class="form-control" placeholder="email@xxx.com"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" v-model="gender" value="0"> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" v-model="gender" value="1"> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">薪资</label>
                            <div class="col-sm-10">
                                <input type="number" v-model="salary" class="form-control" placeholder=""/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
	                        <label class="col-sm-2 control-label">所在部门</label>
	                        <div class="col-sm-4">
	                            <!-- 部门提交部门id即可 -->
	                            <select class="form-control" v-model="dept.id" >
	                            	 <!--  :value="d.id" 此句不可加入，否则信息缺失(编辑对象) -->
	                            	 <option v-for="d in department" :key="d.id" :value="d.id">{{d.name}}</option>
	                            </select>
	                        </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="editInfo()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- (编辑)模态框  end -->
	
	<!-- (新增)模态框  start -->
    <div class="modal fade" id="appendEmpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">新增信息</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <!-- <p class="form-control-static" id=""></p> -->
                                <input type="text" v-model="name" class="form-control" placeholder="输入姓名"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" v-model="email" class="form-control" placeholder="email@xxx.com"/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" v-model="gender" value="0"> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" v-model="gender" value="1"> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">薪资</label>
                            <div class="col-sm-10">
                                <input type="number" v-model="salary" class="form-control" placeholder="输入工资..."/>
                                <span class="help-block"></span>
                            </div>
                        </div>
                        <div class="form-group">
	                        <label class="col-sm-2 control-label">所在部门</label>
	                        <div class="col-sm-4">
	                            <!-- 部门提交部门id即可 -->
	                            <select class="form-control" v-model="dept.id">
	                            	 <option v-for="d in department" :key="d.id" :value="d.id">{{d.name}}</option>
	                            </select>
	                        </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="addInfo()">保存</button>
                </div>
            </div>
        </div>
    </div>	
	<!-- end   (新增)模态框 -->
	
	<script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../static/js/vue.js"></script>
	<script type="text/javascript">
		var url = "queryEmps?pn=1";
		var vm = new Vue({
			el: "#listPages",
			data:{ 
				   list: [],
				    navigatepageNums: [],
				    pageNum: 1,
				    pageSize: 5,
				    pages: 0,
				    size: 5,
				    total: 0,
				    hasNextPage: false,
				    hasPreviousPage: false,
				    checks: [],
				    emp: {} //实例
			},
			methods: {
				getEmps: function(pageIndex) {  //获取一页
					self = this; //必不可少
					$.ajax({
						url: 'queryEmps?pn='+pageIndex,
						type: 'GET',
						success: function(jsonStr) {
							var jsonObject = JSON.parse(jsonStr); //将json串转化成JSON对象
							
							self.list = jsonObject.list;
			                self.navigatepageNums = jsonObject.navigatepageNums;
			                self.pageNum = jsonObject.pageNum;
			                self.pageSize = jsonObject.pageSize;
			                self.pages = jsonObject.pages;
			                self.size = jsonObject.size;
			                self.total = jsonObject.total;
			                
			                self.hasNextPage = jsonObject.hasNextPage;
			                self.hasPreviousPage = jsonObject.hasPreviousPage;
			                
			                //console.log("后台传值: "+jsonObject.navigatepageNums);//navigatepageNums
			                //console.log("前台实际导航条: "+self.navigatepageNums);
						}
					
					});
					//全选按钮， 取消选中
					var allCheck = document.querySelector("#allcheck");
					allCheck.checked = false;
				},
				varyPage: function(pageIndex) {  //更新页面索引，然后更新数据
                    if( pageIndex<=0 )
                        this.pageNum = 1;
                    else
                        this.pageNum = pageIndex;
                    //获取数据
                    this.getEmps(pageIndex); 
                },
                clearInfo: function(id) { //根据 id删除数据
                	//this.list.splice(key,1);  //???
                	//console.log("编号: "+id);
                	$.ajax({
                		url: "clearEmp",
                		type:"POST",
                		async: false,
                		data:{"id":id},
                		success: function(text){
                			//console.log(text);
                			alert(text);
                		}
                	});
                	//不可放在success中
                	var pageIndex = this.pageNum;
        			this.getEmps(pageIndex);//重新获取该页数据(本页刷新)
                },
                clearInfos: function() { //多个删除
                	if( this.checks.length==0 )
                	{
                		alert("请选中要删除的信息！！");
                		return false;
                	}
                	
                	var arr = this.checks;
                	//发送ajax请求
                	$.ajax({
                		url: "clearEmps",
                		type: "POST",
                		async: false,
                		dataType: "text",  //dataType 指定的是 success中返回值的类型
                		traditional: true,
                		data: {ids: arr},
                		success: function(info) {
                			//console.log("你进来了没有？？");
                			alert(info);
                		},
                		error: function(XMLHttpRequest, textStatus, errorThrown) {
                			// 状态码
                            console.log("状态码: "+XMLHttpRequest.status);
                            // 状态
                            console.log("状态: "+XMLHttpRequest.readyState);
                            // 错误信息   
                            console.log("errorInfo: "+textStatus);
                		}
                	
                	});
                	var pageIndex = this.pageNum;
        			this.getEmps(pageIndex);//重新获取该页数据(本页刷新)
        			//取消选中
        			this.checks = [];
        			var allCheck = document.querySelector("#allcheck");
					allCheck.checked = false;
                },
				checkAll: function(e){   //全选/全不选
					var checkObj = document.querySelectorAll('#checkItem');
					 
					// 判定全选checkbox的勾选状态
					if(e.target.checked) {  //若选中， 全选
						for(var i=0,len=checkObj.length; i<len; i++)
						{
							if( !checkObj[i].checked ) // 将未勾选的checkbox选项push到绑定数组中
							{
								checkObj[i].checked = true;//选中
								this.checks.push( checkObj[i].value );//值加入
								//console.log(typeof checkObj[i].value);//@ string
							}
						}
					} else { //不选中，取消全选/全不选
						this.checks = [];
					}
				
				},
				alter: function(emp) {
					em.id = emp.id;
					em.name = emp.name;
					em.gender = emp.gender;
					em.email = emp.email;
					em.salary = emp.salary;
					em.dept = emp.dept;
					em.employee = emp;
					
					//发送ajax请求获取部门信息
					$.ajax({
						url: 'queryDepts',
						type: 'get',
						async: false,
						success: function(result) {
							//将json串转化成JSON对象
							var jsonObject = JSON.parse(result);
							em.department = jsonObject;
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							// 状态码
                            console.log("状态码: "+XMLHttpRequest.status);
                            // 状态
                            console.log("状态: "+XMLHttpRequest.readyState);
                            // 错误信息   
                            console.log("errorInfo: "+textStatus);
						}
						
					});
					
					$('#modifyEmp').modal({ backdrop: "static"});
				},
				//appendEmp() start(添加)
				appendEmp: function() {
					am.id = null;
					am.name = '';
					am.gender = null;
					am.email = '';
					am.salary = null;
					am.dept = {};
					am.department = [];
					
					//发送ajax请求获取部门信息
					$.ajax({
						url: 'queryDepts',
						type: 'get',
						async: false,
						success: function(result) {
							//将json串转化成JSON对象
							var jsonObject = JSON.parse(result);
							am.department = jsonObject;
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							// 状态码
                            console.log("状态码: "+XMLHttpRequest.status);
                            // 状态
                            console.log("状态: "+XMLHttpRequest.readyState);
                            // 错误信息   
                            console.log("errorInfo: "+textStatus);
						}
						
					});
					
					$("#appendEmpModal").modal( {backdrop:"static"} );
				}
				//end appendEmp()
				
			},
			mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
		        self=this;
		        fetch(url).then(function(response) {
		            response.json().then(function (jsonObject) {

		            	self.list = jsonObject.list;
		                self.navigatepageNums = jsonObject.navigatepageNums;
		                self.pageNum = jsonObject.pageNum;
		                self.pageSize = jsonObject.pageSize;
		                self.pages = jsonObject.pages;
		                self.size = jsonObject.size;
		                self.total = jsonObject.total;
		                
		                self.hasNextPage = jsonObject.hasNextPage;
		                self.hasPreviousPage = jsonObject.hasPreviousPage;
		                
		            })
		        }).catch(function(err){
		            console.log("Fetch错误:"+err);
		        })
		    }
		});
		
		//编辑信息  ××××××××××××
		function alterInfo() 
		{
			console.log("编辑信息！");
			$('#modifyEmp').modal({ backdrop: "static"});
		}
		//修改信息
		var em = new Vue({
			el: '#modifyEmp',
			data: {
				id: null,
				name: '',
				gender: null,
				email: '',
				salary: null,
				dept:{},
				employee: {},
				department: []
			},
			methods:{
				editInfo: function() { //编辑信息(保存)
					/* console.log("id: "+this.id);
					console.log("name: "+this.name);
					console.log("gender: "+this.gender);
					console.log("email: "+this.email);
					console.log("salary: "+this.salary);
					console.log("dept部门编号: "+this.dept.id); */
					
					var jsonData = {"id":this.id,"name":this.name,"gender":this.gender,
							  "email":this.email,"salary":this.salary,"dept":this.dept};
					
					$.ajax({
						url: 'editEmpInfo',
						type:"POST",
						data: { "editData":JSON.stringify(jsonData) },
					    async: false,//同步
						success: function(result) {
							//console.log(result);	
							alert(result);
							$("#modifyEmp").modal("hide");
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							// 状态码
                            console.log("状态码: "+XMLHttpRequest.status);
                            // 状态
                            console.log("状态: "+XMLHttpRequest.readyState);
                            // 错误信息   
                            console.log("errorInfo: "+textStatus);
						}
					});
					
					//更新当前页
					vm.getEmps(vm.pageNum);
				}// end editInfo()
				
			}
		});
		
		// start 添加信息
		var am = new Vue({
			el: "#appendEmpModal",
			data:{
				name: '',
				gender: null,
				email: '', 
				salary: null, 
				dept: {},
				department: []
			}, 
			methods: {
				addInfo: function() {
					var jsonData = {"name":this.name,"gender":this.gender,"email":this.email,
									"salary":this.salary,"dept":this.dept};
					$.ajax({
						url: "appendInfo",
						type:"POST",
						data: {"addData":JSON.stringify(jsonData)},
						async: false,//同步
						success: function(result) {
							alert(result);
							$("#appendEmpModal").modal("hide");
						},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							// 状态码
                            console.log("状态码: "+XMLHttpRequest.status+", 状态: "+XMLHttpRequest.readyState);
                            // 错误信息   
                            console.log("errorInfo: "+textStatus);
						}
					});
				}
			
			}
			
		});
		//添加信息  end
	</script>
</body>
</html>