<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.employee.dao.StaffMapper">
	<resultMap type="com.mk.employee.entry.Employee" id="empWithDept">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="gender" property="gender"/>
		<result column="email" property="email" />
		<result column="salary" property="salary" />
		
		<association property="dept" javaType="com.mk.employee.entry.Department">
			<result column="deptName" property="name"/>
			<result column="d_id" property="id"/>
		</association>
	</resultMap>

	<!-- 多表查询， -->
	<select id="selectList" resultMap="empWithDept">
		SELECT emp.*,dept.name deptName 
		FROM emp LEFT JOIN dept on emp.d_id=dept.id
	</select>
	<!-- 查询表中记录数 -->
	<select id="selectCountOfEmp" resultType="int">
		SELECT count(1) FROM emp
	</select>
	
	<!-- 删除信息 -->
	<delete id="deleteEmployeeById" parameterType="int">
		delete from emp where id = #{id}
	</delete>
	
	<!-- 根据id查询 -->
	<select id="selectEmployeeById" parameterType="int" resultType="com.mk.employee.entry.Employee">
		select * from emp where id = #{id}
	</select>
	
	<!-- 修改信息 -->
	<update id="updateEmployee" parameterType="com.mk.employee.entry.Employee" >
		UPDATE emp SET name=#{name},gender=#{gender},email=#{email},d_id=#{dept.id},salary=#{salary}
		WHERE id = #{id};
	</update>
	
	<!-- 添加 -->
	<insert id="insertEmployee" parameterType="com.mk.employee.entry.Employee">
		INSERT INTO emp(name,gender,email,d_id,salary) 
		VALUES(#{name}, #{gender}, #{email}, #{dept.id}, #{salary})
	</insert>
	
	
</mapper>